.smallGraph {
	width: 33%;
	display: inline-block;
  box-sizing: border-box;
}

.patientProfile {
  width: 25%;
  float: right;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 5em;
}

.lineGraph {
  width: 75%;
  box-sizing: border-box;
  display: inline-block;
}