.logo {
  height: 2em;
}

.login {
  margin: auto;
  width: 60%;
}
.heading {
  padding-left: 3em;
}

.whiteFont {
  color: white;
}

#signin {
  text-align:center;
  vertical-align: middle;
}

.smallGraph {
	width: 33%;
	display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.patientProfile {
  width: 20%;
  float: right;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 5em;
  padding: 3em;
  background-color: #EAF1F5;
  border-radius: 2em;
  margin-right: 3em;
}

.patientProfileImage {
  max-height: 10em;
}

.lineGraph {
  width: 75%;
  box-sizing: border-box;
  display: inline-block;
  padding: 3em;
}

.notes {
  box-sizing: border-box;
  padding: 3em;
  width: 100%;
}

.map {
  padding: 3em;
  text-align: center;
}

ng-map {
  width: 85%;
  height: 33em;
  margin: 0 auto;
}

.note {
  background-color: #EAF1F5;
  padding: .1em;
  margin: .3em;
  border-radius: .2em
}

.title {
  font-family: Impact, Charcoal, sans-serif;
}