<div>
  <section class="lineGraph">
    <h2>Patient Pain Severity</h2>
    <canvas id="line" class="chart chart-line" chart-data="notesData"
      chart-labels="notesLabels" chart-legend="false"
      chart-click="onClick" >
    </canvas> 
  </section>
  <aside class="patientProfile" ng-model="patient">
    <img class="patientProfileImage" src="{{patient.patient_photo}}">
    <h3>{{patient.first_name}} {{patient.last_name}}</h3>
    <p><strong>Chart ID:</strong> {{patient.chart_id}}</p>
    <p><strong>DOB:</strong> {{patient.date_of_birth}}</p>
    <p><strong>Gender:</strong> {{patient.gender}}</p>
    <p><strong>Home:</strong> {{patient.home_phone}}</p>
    <p><strong>Cell:</strong> {{patient.cell_phone}}</p>
    <address>
      <strong>Email:</strong>
      <a href="mailto:{{patient.email}}">{{patient.email}}</a> <br><br>
      <strong>Address:</strong>
      {{patient.address}} <br>
      {{patient.city}}, {{patient.state}} {{patient.zip}}
    </address>
    <p><strong>Emergency Contact:</strong></p>
    <p>{{patient.emergency_contact_name}} ({{patient.emergency_contact_relation}})</p>
    <p>{{patient.emergency_contact_phone}}</p>
  </aside>
  <section class="notes">
    <h3>Recent Appointment Notes</h3>
    <div ng-repeat="note in clinicalNotes">
      {{note.value}}
    </div>
  </section>
</div>