<div>
  <div>
    <div>
      <h2>Patient Breakdown Dashboard</h2>
    </div>
    <div>
      <select ng-model="selected" ng-change="changeWindow(selected)">
    	  <option value="" disabled selected>Select a Patient</option>
    	  <option ng-repeat="patient in patients" value="{{patient.id}}">
    		{{patient.first_name}} {{patient.last_name}} {{patient.gender}} {{patient.date_of_birth}}
    	  </option>
      </select>
    </div>
  </div>
  <div class="smallGraph">
	<h4>Racial Breakdown</h4>
	<canvas id="doughnut" class="chart chart-doughnut"
    	chart-data="raceData" chart-labels="raceLabels">
	</canvas>
  </div>
  <div class="smallGraph">
  	<h4>Age Breakdown</h4>
  	<canvas id="bar" class="chart chart-bar"
      chart-data="ageData" chart-labels="ageLabels">
    </canvas>
  </div>
  <div class="smallGraph">
  <h4>Gender Breakdown</h4>
  <canvas id="pie" class="chart chart-pie"
      chart-data="genderData" chart-labels="genderLabels">
  </canvas>
  </div>
  <div class="map">
    <h4>Patient Locations</h4>
    <ng-map zoom="11" center="Mountain View, CA" >
    <marker ng-repeat="address in addresses" position="{{address}}"></marker>
  </div>
</div>